/*   Reset css  */
:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #f7df1e;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-with: 1200px;
}
html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **********     menu-hamburguesa     ********** */

.header {
  position: sticky;
  z-index: 997;
  top: 0;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--second-color);
}

.header h1 {
  margin: 0 auto;
  text-align: center;
}

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
  overflow-y: auto;
  background-color: var(--second-modal-color);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.5s ease;
  /* De arriba */
  /* transform: translate(0, -100%);
    /* De abajo */
  /* transform: translate(0, 100%); */
  /* De la derecha */
  /* transform: translate(100%, 0); */
  /* De la izquierda */
  /* transform: translate(-100%, 0);  */
}

.panel.is-active {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible; /*permite que se vuelva visible nuevamente el panel*/
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease;
}

.menu a:hover {
  font-weight: bold;
  color: var(--second-color);
  background-color: var(--main-modal-color);
}

/* *********** EVENTOS DEL TECLADO *********** */
.stage {
  display: flex;
  min-height: 50vh;
  background-color: var(--second-color);
}

/* la pelota realmente es un cuadrado con bordes redondeados: */
.ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--main-color);
  /* background-color:rgba(247,222,30,0.85); */
}

/* ******************* Scroll TopButton ************ */

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(
    4.25rem + 1vw
  ); /*Esto separa los dos botones , calc permite realizar opereciones en css */
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer; /*hace que aparezca el cursor cuando se posa sobre el botón*/
  outline: 0; /* quita la linea del borde externo del botón*/
  border: 0;
  transition: all 0.3s ease-out; /*tardanza para que haga la transicion el boton*/
}

.scroll-top-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}
/* La clase hidden permite que no sea visible, al quitarsela dinamicamente vuelve a ser visible */
.hidden {
  visibility: hidden;
  opacity: 0;
}

/* ******************* DarkThemeButton ************ */

.dark-theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw; /*Esto separa los dos botones , calc permite realizar opereciones en css */
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer; /*hace que aparezca el cursor cuando se posa sobre el botón*/
  outline: 0; /* quita la linea del borde externo del botón*/
  border: 0;
  transition: all 0.3s ease-out; /*tardanza para que haga la transicion el boton*/
}

.dark-theme-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.dark-mode {
  background-color: var(--second-color);
  color: var(--main-color);
}

/*  ******************  Network Status ******************** */

.online,
.offline {
  position: sticky; /* la posicion sticky es pegajoso. se queda en esa parte de la pantalla */
  top: 0;
  z-index: 1000;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #1b5e20;
  color: #fff;
}

.offline {
  background-color: #b71c1c;
}

/*   ******************** SearchFilters   TARJETAS DE IMÁGENES ******************* */

.cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* esta propiedad
     grid-template-columns: es la propiedad que permite definir las columnas, 
     en repeat el primer parametro es la cantidad de columnas, el segundo es la 
     dimension de las columnas, autoo-fit es que se ajuste a la cantidad de hijos de
     el grid, el minmax permite que se ajuste entre el tamaño minimo y el maximo al estilo 
     responsive.
     */
}

.card {
  background-color: var(--second-color);
  color: var(--main-color);
  transition: all 0.3s ease-out;
}

.card img {
  width: 100%;
  height: auto;
}

.card figcaption {
  padding: 1rem;
}

.filter {
  /* display: none; */ /*  esto quita los elementos de la interfaz grafica.. se crecen por la propiedad min-max*/
  visibility: hidden; /* mientras que estas dos solo ocultan, pero quedan los espacios en blanco*/
  opacity: 0;
  order: 1; /* como el grid aplica esta propiedad order:0 al aplicar order:1 las tarjetas se van a acomodar. */
}

/*  ************************* RESPONSIVE SLIDER*******************/

.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto; /* un rem a ambos lados automatico */
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 400px;
}

.slider-slide {
  position: absolute; /* esto es lo que hace que queden una sobre otra, ya que la posicion absuluta cuelga de la posicion relativa mas cecana*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; /* oculta la visibilidad de los slide*/
  transition: opacity 1s ease; /*  efecto de opacidad de un segundo */
}

.slider-slide img {
  height: inherit; /* inherit significa que la erede del padre*/
  width: inherit; /* inherit significa que la erede del padre*/
  /*object-fit: contain; */ /*se adapta la imagen al alto de su contenedor evitando que se estire*/
  object-fit: cover; /* adapta al ancho del contenedor la imagen, puede quedar cortada pero no se deforma*/
  object-position: 50% 0%; /* Mueve la imagen haciendo que se vea en la posicion de la parte superior*/
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-btns {
  position: absolute; /* cuelga de la posicion relativa padre mas proxima */
  top: 50%; /* se acomoda a la altura del 50% */
  width: 100%; /* los botones ocuparan el 100% del espacio de su contenedor */
  display: flex; /* agrupa de forma horizontal los botones, en inline seria de forma vertical */
  justify-content: space-between;
  font-size: 3rem; /* fonde de letra  */
  font-weight: bold; /* fonde de letra en negrita */
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: #4d4d4d;
}

/* **********     ScrollSpy     ********** */
/* C  */
@media screen and (min-width: 1024px) {
  /* La minima anchura del body va a ser de 1024 hacia arriba  */
  body {
    display: grid; /* C el grid divide la pantalla en secciones de porcentaje, en este caso el padre es el body  */
    grid-template-columns: 80% 20%; /* C  1 columna de 80 y otra de 20*/
    grid-template-rows: 4rem auto; /* C  definimos las filas, la primera de 4 rem y la otra automatica*/
    grid-template-areas:
      "header header"
      "main panel"; /* C  aqui estamos acomodando los elementos en las columnas y filas, como el ejemplo de los cuadritos de excell.*/
    /* C El header estara en la primera fila ocupando las 2 columnas y en la segunda fila estaran el main y el panel, el main con 4 rem y el panel auto */
    /* C  cada entrecomillado es una fila*/
  }

  main {
    grid-area: main; /* C  esta palabra main es la que esta mas arriba en grid-template-areas, osea es una referencia con el mismo nombre*/
  }

  .header {
    grid-area: header; /* C   /* C  esta palabra main es la que esta mas arriba en grid-template-areas, osea es una referencia con el mismo nombre*/
  }

  .panel {
    grid-area: panel;
    align-self: start; /* C  alinea al inicio de donde empieza la celda el contenido */
    position: sticky; /* C  QUEDA pegado*/
    top: 4rem; /* C   tiene la misma medida de la cabezera o header*/
    justify-content: flex-start; /* C  para que su contenido osea los enlaces empiecen al inicio*/
    background-color: var(--second-color); /* C se copia del original */
    transform: translate(0, 0);
    opacity: 1; /* C estas propiedaes opaciy y visibility  se copiaron de el panel inicial para siga pareciendose  */
    visibility: visible;
    overflow-y: auto;
  }

  .panel-btn {
    display: none; /*// C   con esta linea hacemos que no se muestre el panel btn cuando este en esta resolucion de pantalla*/
  }

  .menu {
    justify-content: start;
    text-align: right; /* C  alinea el texto a la derecha en el menu*/
  }

  .menu a {
    padding: 0.75rem;
    font-size: 1rem; /* C  modifica el tamaño del texto*/
  }

  .menu a:hover, /* C  modifica cuando se pone el cursor sobre */
  /* C  tambien va a plicar estos estilos cuando el scroll este dando la clase active,sig línea.*/
  .menu a.active {
    color: var(--second-color);
    background-color: var(--main-color);
  }

  .scroll-top-btn {
    /* C  la flechita que va y lleva hacia arriba */
    right: initial;
    left: calc(
      4.25rem + 1vw
    ); /* C  en la version inicial estaba en right  osea cuando se reduzca la pantalla este boton se mueve a la derecha */
  }
}

/* **********     ContactForm Validations     ********** */

.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* el asterisco significa todos : en la sig linea dice a todos los elementos que son hijos directos del formulario de contacto*/
.contact-form > * {
  padding: 0.5rem; /* esta linea da separacion a todos los elementos del contact-form */
  margin: 1rem auto;
  display: block;
  width: 100%;
}

/* elimina el triangulito de la esquina para que no se pueda redimensionar el text area */
.contact-form textarea {
  resize: none;
}

/*  le damos estilos a los títulos */
.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* con esto estandarizamos el tipo de letra en todos los input y text area ya que la letra sale diferente. */
.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

/* personalizamos el boton de enviar */
.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

/* a todos los elementos del formulario que tengan el atributo placeholder aplicarle: */
.contact-form *::placeholder {
  color: #000;
}

/*! LO SIGUIENTE CAMBIARA EL COLOR DE LOS RECUADROS SEGUN SU VALIDEZ */
/* cuando un elemento del .contact-form tenga el atributo required y este sea igual a valid */
.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}
/* cuando un elemento del .contact-form tenga el atributo required y este sea igual a invalid */
.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

/* lo que tenga esta clase no se va a mostrar */
.none {
  display: none;
}

/* ! esto es para la animacion  */
/* empiza con el 0% y va aumentando hasta el 100% como un control de tiempo, en este caso empiza invisible y se va mostrando gradualmente. */
@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
